/.vs/API_SSO.slnx/FileContentIndex
/API_SSO/obj/Debug/net10.0
/ClassLibrary1/obj/Debug/net10.0
/.vs/API_SSO.slnx/v18
/.vs/API_SSO.slnx/config
/.vs/API_SSO.slnx/config
/.vs/API_SSO.slnx/v18
/.vs/API_SSO.slnx/v18
# Visual Studio
.vs/
*.suo

# Build outputs
bin/
obj/

# Copilot
CopilotSnapshots/